In [1]:
import os 
# Go one folder back
os.chdir('..')
import pandas as pd

# import A's

In [2]:
path = 'Data/svo/SVO_wavve_1.txt'

In [3]:
with open(path, 'r') as file:
    data = file.read()

In [4]:
titles = []
body = []

for idx, line in enumerate(data.split('\n')):
    if idx == 1:
        titles = line.split('\t')
    elif ((idx-1) % 15 == 0) and (idx != 0):
        splitline=line.split('\t')

        splitline=[splitline[1],splitline[-37],splitline[-1]]
        
        body.append(splitline)

In [6]:
df_As = pd.DataFrame(body, columns=['ubjct', 'A_o', 'A_s'])

In [7]:
print(df_As)

    subjct       A_o       A_s
0      146  52.16667        91
1        4        66  82.33334
2        7        73        83
3        9  49.16667      88.5
4       11  69.83334  84.33334
..     ...       ...       ...
170    277  44.16667      92.5
171     46  75.83334  84.16666
172     90  65.66666      80.5
173     96        60  88.33334
174     98  68.83334  79.66666

[175 rows x 3 columns]

In [5]:

df_As.to_csv('Data/svo/SVO_As.csv', index = False)

# impoort gender and age

In [6]:
path = 'Data/svo/merged3horts_UG_with_demographic_info.csv'

In [16]:
# Load the CSV file into a DataFrame
df = pd.read_csv(path)

# Save only the 'subject_id' and 'age' columns to a new DataFrame
df_filtered = df[['subjID', 'gender','age']]

# Save the filtered DataFrame to a new CSV file
#df_filtered.to_csv('filtered_file.csv', index=False)
df_age_and_gender = df_filtered[df_filtered['subjID'].isin(df_As['subjct'])]

In [27]:
df_age_and_gender = df_age_and_gender.drop_duplicates(subset='subjID', keep='first')
df_age_and_gender = df_age_and_gender.rename(columns={'subjID': 'subjct'})

len(df_age_and_gender)

117

In [28]:
df_age_and_gender.to_csv('Data/svo/SVO_age_and_gender.csv', index = False)

# import age part2

In [9]:
path = 'Data/0419/CCNP/demographic/delete_redundent_age_information.csv'

In [12]:
df = pd.read_csv(path)
df

,Subject,wave,gender,birth_date,scan_date,age,rural/urban,ethnicity,twins,sibling,target_age
0,3,2,male,2010/4/10,2020/9/5,10.413699,urban,han,0,0,10.413699
1,7,2,female,2008/8/26,2020/9/6,12.038356,urban,han,0,0,12.038356
2,8,2,female,2012/6/8,2020/9/19,8.287671,urban,han,0,0,8.287671
3,9,2,male,2009/3/20,2020/10/2,11.545205,urban,han,0,0,11.545205
4,10,2,male,2006/6/19,2021/2/22,14.690411,urban,han,0,0,14.690411
...,...,...,...,...,...,...,...,...,...,...,...
144,254,1,female,2010/9/29,2021/5/22,10.652055,urban,han,0,0,10.652055
145,256,1,female,2009/5/30,2021/8/10,12.205479,urban,han,0,0,12.205479
146,262,1,female,2013/4/5,2021/5/30,8.156164,urban,han,0,0,8.156164
147,272,1,male,2011/5/4,2021/6/15,10.123288,urban,han,0,0,10.123288
148,277,1,male,2012/5/1,2021/7/3,9.178082,urban,han,0,0,9.178082

In [21]:
# Save only the 'subject_id' and 'age' columns to a new DataFrame
df_filtered = df[['Subject', 'gender','age']]
print(len(df_filtered))
# Save the filtered DataFrame to a new CSV file
#df_filtered.to_csv('filtered_file.csv', index=False)
df_age_and_gender = df_filtered[df_filtered['Subject'].isin(df_As['subjct'])]

149

In [22]:
len(df_age_and_gender)

0